.paperStyleParent{
  flex-direction: 'column';
  height: '28%';
  margin-top: 10;
  margin-right: 25;
  border-radius: '5px';
  display: 'flex';
  background-color: '#EAEAEA';
}
.boxStyleParent{
  width: '100%';
  border-radius: '5px';
  display: 'flex';
  background-color: '#335436';
  
}