.customPaper {
  flex-direction: column;
  height: 28%;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 5px;
  display: flex; 
  background-color: #EAEAEA;
}

.customBox {
  width: 100%;
  border-radius: 5px;
  display: flex;
  background-color: #335436;
  height: 25%;
}

.arrowUp-root:hover {
  background-color:#A6BBA7;
  color: #000000; 
  margin-top:1;
  height: 25;
}

/* .customBox2 {
  width: 1;
  height: 1 / 4;
  my: 3;
            mr: 2,
            backgroundColor: '#EAEAEA',
            borderRadius: '5px',
            fontSize: '0.875rem',
            fontWeight: '700',
            textAlign: 'center',
            label: "profile-header-picture"
} */